html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    background-color: black;
    border: 
    padding: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2em;
}

a:link{
    color:white;
}

a:visited {
    color: white;
}

a:hover {
    color: orange;
}

.home {
    text-align: center;
    padding-top: 20px
}

.nav-left {
    float: left;
    padding-left: 10px;
}

.nav-right {
    float: right;
    padding-right: 10px;
}


.title {
    text-align: center;
    padding: 30px;
}

.quote {
    text-align: center;
    padding: .5em;
}



.intro-para {
    display: flex;
    border: 
    margin: 2em;
}

.box {

    border: 1px solid white;
    margin: 1em;
}

.flexbox {
    display: block;
}

.intro {

    margin: 1em;
}

.piro {
    border: none;
}



.recipe-list{
  display: table;
  margin: 0 auto;
 
}

.list-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.list-items .item {
    display: list-item;
    margin: 5px; 
}

.box a {
    display: block;
    text-align: center;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    

    
}

.image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    


}

.ingredients-piro {
    display: flex;
    padding: 1px;
    margin: 1em;
}

.ingredients-piro ul {
    
    margin: 1em;
}

h3 {
    text-decoration: underline;
}