body{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link{
    color:black;
}

a:visited {
    color: black;
}

a:hover {
    color: palevioletred;
}

.home {
    text-align: center;
    padding-top: 20px
}

.nav-left {
    float: left;
    padding-left: 10px;
}

.nav-right {
    float: right;
    padding-right: 10px;
}


.title {
    text-align: center;
    padding: 30px;
}

.recipe-list{
  display: table;
  margin: 0 auto;
 
}

.image {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    


}

.ingredients {
    display: table;
    margin: 0 auto;
}